{% extends "includes/base.html" %}
{% block content %}
<h2>Purchaser Dashboard (Welcome, {{ user.username }})</h2>
<h3>Available Items for Bidding</h3>
<table>
    <thead>
        <tr>
            <th>PO Number</th>
            <th>Article</th>
            <th>Required Qty</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for item in line_items %}
        <tr>
            <td>{{ item.purchase_order.po_number }}</td>
            <td>{{ item.article.name }}</td>
            <td>{{ item.requested_quantity }} {{ item.article.unit }}</td>
            <td>
                <a href="/bid/{{ item.id }}" class="btn btn-primary">Place Bid</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}